@import "@/assets/stylus/variables.styl"
body
  background red
.right
  margin-left 100px
.foot-left
  left 56px
.v-main__wrap
  > .container
    padding 0 !important
    > .content
      width 100%
      padding 0 60px
