html
  overflow hidden !important
  main.v-main
    overflow hidden auto
    height 100vh
.margin-bottom-narrow
  margin-bottom 1px
.margin-top-narrow
  margin-top 0.5em
.margin-right
  margin-right: 1em
.margin-right-narrow
  margin-right: 0.5em
.margin-left
  margin-left: 1em
.text-right
  text-align right
.text-left
  text-align left
.close
  margin 0 0 0 auto
.padding-top-narrow
  padding-top 0.5em
.icon-space-left
  padding-left .5em
.icon-space-right
  padding-right .5em
.icon-margin
  margin-top 1em
.overflow
  overflow-x scroll
  overflow-y scroll
.card-padding
  padding 3em
.no-decoration
  text-decoration: none;
.box
  width 100%
  height 100%
.is-small
  background-image:
    radial-gradient(#888 10%, transparent 10%)
.bg_dot
  background-color #F5F5F5
  background-image:
    radial-gradient(#dbdbdb 30%, transparent 30%)
  background-size 3px 3px
.foot-overlay
  z-index 999
.text-large
  font-size 16px !important
.text-normal
  font-size 14px !important
.text-small
  font-size 12px !important

